//-extends ../node_modules/pug-bootstrap/_bootstrap
extends ../_bootstrap

append body
    include nav

    .container
        +carousel("caro",[
            {
                image: "/images/caro1.jpg",
                p: "Fast and effective delivery service since 1911.",
                button: {
                    caption: "Sign up now",
                    url: "/signup"
                }
            },
            {
                image: "/images/caro2.jpg",
                p: "For professionals by professionals.",
                button: {
                    caption: "Sign up now",
                    url: "/signup"
                }
            },
            {
                image: "/images/caro3.jpg",
                p: "Best service, saticfaction guaranteed.",
                button: {
                    caption: "Sign up now",
                    url: "/signup"
                }
            }
        ])