//
   Created by Snippy on 2017-08-19.

+navbar-static("WhereTo")
    +nav_item("about") About
    +nav_item("contact") Contact
    +nav_item_dropdown(label="Dropdown")
        +nav_item("#") Item 1
        +nav_item("#") Item 2
        +nav_item("#") Item 3