extends ../_bootstrap

append head
    title Register

append body
    include nav

    .container
        +panel-primary("Sign up form")
            form(method='post')
                +input('text', 'name', 'Name', {
                    required: true,
                    maxlength: 64
                })
                +input('submit')