extends ../../_bootstrap

include ../nav
include _order

append head
    title Orders | WhereTo

append body
    +accordion('orders')
        each o in orders
            +order(o.id, o.username, o.origin, o.dest, o.added, o.expires, o.weight, o.cargo)