extends ../../_bootstrap

append head
    title Orders | WhereTo

append body
    include ../nav
    include _order

    block body
        .container
            +panel-primary('Pending orders')
                .panel-group#accordion(role="tablist", aria-multiselectable="true")
                    each o in orders
                        +order(o.order_id, o.username, o.origin, o.dest, o.added, o.weight, o.cargo)