extends ../../master

append head
    title Place new order | WhereTo

append body
    include ../nav

    .container
        +panel-primary('Order form')
            form(method='post', action='/orders/place')
                +input('text', 'origin', 'Origin', {
                    required: true,
                    name: 'origin'
                })
                +input('text', 'dest', 'Destination', {
                    required: true,
                    name: 'dest'
                })

                #map
                    script(type = 'text/javascript', src = '/scripts/map.js')
                    script(async, defer, type = 'text/javascript',
                    src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC1tVc4lbElSKFHRRrngpVgB1lpkyD2qPo&callback=initMap&libraries=places'
                    )
                fieldset.form-group
                    label Distance
                    p#_dist N/A
                input#dist(type='hidden', name='dist')

                fieldset.form-group
                    label Duration
                    p#_duration N/A
                //input#duration(type='hidden', name='duration')

                fieldset.form-group
                    label(for='beginsInput') Begins
                    .input-group.date#beginsPicker
                        input.form-control#beginsInput(type="text", required=true, name='begins')
                        span.input-group-addon
                            span.glyphicon.glyphicon-calendar

                fieldset.form-group
                    label(for='expInput') Expires
                    .input-group.date#expPicker
                        input.form-control#expInput(type="text", required=true, name='expires')
                        span.input-group-addon
                            span.glyphicon.glyphicon-calendar

                script.
                    $(document).ready(function () {
                        $('#beginsPicker, #expPicker').datepicker({
                            minDate: new Date()
                        });
                    });

                +input('number', 'weight', 'Weight', {
                    name: 'weight',
                    required: true
                })
                +textarea('cargo', 'Cargo', {
                    name: 'cargo',
                    required: true
                })
                +input('Submit', '', '', {
                    value: 'Place order',
                    disabled: true
                })